<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

This section introduces the Python Programming uisng Colab. Follow the instructions and complete the exercises.

# Ex 1 : Check Version

Using the below cell, Import the required library and check the version of the python in your environment.

In [2]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]'

# Ex2 : Convert Currency.

Write a program that asks the user for the amount in usd and converts it to British pounds. The exchange rate is from usd to BP is given as 0.82

In [3]:
usd_amount = input ("Enter the amount in USD: ")
bp_amount = int(usd_amount) *0.82
print("{} usd is equivalent to {} british pound".format(usd_amount, bp_amount))

500 usd is equivalent to 410.0 british pound

# Ex 3: Temperature Converter

Write a program that convert temperature in Feranhite to celsius.

In [6]:
Degree_F = float(input("Enter the temperature in Feranhite"))
Degree_C = round ((Degree_F - 32) * 5/9,2)
print("The temperature of", Degree_F, "degree Farenheight is", Degree_C, "degree Celsius.")

The temperature of 100.0 degree Farenheight is 37.78 degree Celsius.

# Ex 4: Daily Maths

You are working in a retail shop. Write a program that computes the total cost for a customer that bought 3 differnt types of fruits : apple, orange, mango. Ask the user to enter the quantity and price for each type.

In [8]:
apple_quantity = int(input("Enter the total quantity of apple: "))
apple_price = float(input("Enter the price for apple: "))

orange_quantity = int(input("Enter the total quantity of orange: "))
orange_price = float(input("Enter the price for orange: "))

mango_quantity = int(input("Enter the total quantity of mango: "))
mango_price = float(input("Enter the price for mango: "))

apple_total_cost = apple_quantity * apple_price
orange_total_cost = orange_quantity * orange_price
mango_total_cost = mango_quantity * mango_price

all_total_cost = apple_total_cost + orange_total_cost + mango_total_cost

print("The total cost is", all_total_cost)

The total cost is 27.5

# Ex 5 : Greeting

Write a program to greet the customer who provides the user name. Your program should ask the name of the customer and print "Hello + customer name"

In [9]:
customer_name = input("Enter your name: ")
print ("Hello", customer_name)

Hello Chan Mra

# Ex 6: Random Number
Write a program that generates a random number, x, between 1 and 50, a random number y between 2 and 5, and computes x^y.

In [19]:
from random import randint
x = randint(1,10)
print('A random number between 1 and 50: ', x)
y = randint(2,5)
print('A random number between 2 and 5: ', y)

print("The result number is: ", x**y)

A random number between 1 and 50:  1
A random number between 2 and 5:  2
The result number is:  1

# Ex 7: Greet many times.
Write a program that generates a random number between 1 and 10 and prints your name that many times.

In [25]:

random_num = randint(1,10)
print("The random number is", random_num)
print ("Chan Mra " * random_num)

The random number is 3
Chan Mra Chan Mra Chan Mra

# Ex 8: Computing. 
Write a program that asks the user to enter two numbers, x and y, and computes |x-y|/(x+y).

In [29]:
x = int(input("Enter your first number: "))
y = int(input("Enter your second number: "))
result = abs(x-y)/(x+y)
print(abs(x-y))
print("The result is: ", result)

15
The result is:  -3.0

# Ex 9: Computing

Write a program that asks the user for a number of seconds and prints out how many minutes and seconds that is. For instance, 200 seconds is 3 minutes and 20 seconds.

In [31]:
total_seconds = int(input("Enter the number of seconds: "))
minutes = total_seconds//60
seconds = total_seconds % 60

print(f"The total seconds of {total_seconds} is {minutes} minutes and {seconds} seconds")

The total seconds of 200 is 3 minutes and 20 seconds

# Ex 10: Using Math Module

Write a program that asks the user for a number and then prints out the sine, cosine, and tangent of that number.

In [33]:
import math

num = float(input("Enter a number:"))
sine_value = math.sin(num)
print(f"Sine value of {num} is", sine_value)

cosine_value = math.cos(num)
print(f"Cosine value of {num}is", cosine_value)

tangent_value = math.tan(num)
print(f"tangent_value of {num} is", tangent_value)

Sine value of 10.0 is -0.5440211108893698
Cosine value of 10.0is -0.8390715290764524
tangent_value of 10.0 is 0.6483608274590867